@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
}

.container {
  margin: 0 10%;
  padding-bottom: 50px;
}

.logo > a {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  font-weight: bolder;
  color: #ba1414;
  padding: 8px 20px;
  width: 20%;
  border: 2px solid #ba1414;
  border-radius: 60%;
}

.nav {
  padding: 50px 0;
}

.nav-link {
  width: 80%;
  margin-right: 15%;
}

.nav-link > div {
  padding-bottom: 2px;
}

.nav-link > div:hover {
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 70px 18%;
}

.card {
  width: 100%;
}

.card-title {
  width: 80%;
  height: 90px;
  overflow: hidden;
}

.card-likes {
  width: 20%;
}

.card-img {
  width: 100%;
  height: 240px;
}

.comment-btn {
  width: 100%;
  font-size: 18px;
  /*border: 2px solid #000; */
  box-shadow: 5px 5px 2px #000;
}

.footer {
  border-top: 1px solid #000;
  padding: 90px 5%;
  margin-top: 50px;
}

/* utility classes */
.d-flex {
  display: flex;
}

.gap-8pc {
  gap: 8%;
}

.active {
  border-bottom: 2px solid #ba1414;
}

.align-end {
  align-items: end;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.justify-end {
  justify-content: end;
}

.space-btw {
  justify-content: space-between;
}

.ft-20 {
  font-size: 20px;
}

.ft-28 {
  font-size: 28px;
}

.pt-5 {
  padding-top: 5px;
}

.py-10 {
  padding: 10px 0;
}

.capitalize {
  text-transform: capitalize;
}

.float-right {
  float: right;
}

.b-none {
  border: none;
}

.bg-white {
  background-color: #fff;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 12px;
  top: 0;
  z-index: 1001;
  height: 100%;
  background-color: #fff;
   /* background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); */
  overflow: scroll;
}

.main-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 9rem;
  width: 70%;
  height: auto;
  background: green;
}

.modal-head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
} 

.modal-container {
  /* width: 20rem;
  height: 5rem; */
}

.meal-img {
 display: flex;
 align-items: center;
 width: 100%;
 height: 25rem;
}

.close-Hambuger {
  display: flex;
  justify-content: flex-start;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  margin-bottom: 1rem;
  float: left; 
}

.comments-section {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

#userName,
#textarea {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  border: 0.2rem solid #000;
}

#comment-btn {
  width: 50%;
  font-size: 1.5rem;
  margin: 20px 0;
  box-shadow: 5px 5px 2px #000;
  cursor: pointer;
}
